:root {
  --aqua-blue: rgb(0, 168, 219);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: playfair;
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.swipe {
  background-color: var(--aqua-blue);
  transform: translateY(-300px) skewY(-30deg);
  height: 600px;
  width: 100vw;
  position: absolute;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}

picture {
  z-index: 1;
}

.header-img {
  z-index: 1;
  margin: 1rem;
  width: calc(320px - 2rem);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}

picture h1 {
  visibility: hidden;
}

h1 {
  color: white;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 13.75rem;
  width: calc(300px - 2rem);
  margin: 2rem;
  align-self: left;
  font-family: playfair, serif;
  font-weight: 500;
  font-size: 4.25rem;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  width: calc(100vw - 2rem);
}

section>h2 {
  margin-bottom: 0;
}

h2 {
  font-family: playfair, serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  color: rgb(85, 85, 85);
  font-family: roboto, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.75;
}

.icons {
  display: flex;
  height: 3rem;
  gap: 30px;
  margin-top: 10px;
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(320px, 1fr));
  grid-row-gap: 4rem;
}

.cards>h2 {
  margin-bottom: -3rem;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
  max-width: 400px;
  width: calc(100vw - 2rem);
}

.screenshot {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot>h1, .contact-page>h1 {
  margin: 0;
  position: static;
  align-self: center;
  text-shadow: none;
  font-size: 3rem;
  text-align: center;
}

.card-content {
  height: 150px;
  padding-left: 1rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin: 1rem;
}

h3 {
  font-family: playfair, serif;
  font-weight: 100;
  font-size: 1.75rem;
}

.project-title>.icons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  gap: 0.5rem;
}

.card-content>p {
  line-height: 1.25;
  font-size: 1.25rem;
  max-width: 320px;
  padding-right: 10px;
}

footer {
  background-color: var(--aqua-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 1px 5px -3px rgba(0, 0, 0, 0.582);
  padding: 0 2rem;
}

.contact-page {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: calc(100vw - 2rem);
}

.contact-page>h1 {
  font-weight: 100;
  margin: 1rem;
}

footer p {
  color: white;
  line-height: 1.25;
}

.address, .contact {
  margin-top: 2rem;
}

.address>p, .contact>p {
  font-size: 1.15rem;
}

.contact-page>.icons {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 3rem;
  width: 250px;
  align-self: center;
}

.footer-image {
  margin: 0 -2rem;
  margin-top: 2rem;
  width: 100vw;
}

.purple {
  background-color: rgb(132, 112, 223);
}

.orange {
  background-color: rgb(223, 156, 112);
}

.green {
  background-color: rgb(76, 153, 111);
}

.pink {
  background-color: rgb(223, 112, 140);
}

.blue {
  background-color: rgb(112, 147, 223);
}

@media (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .swipe {
    transform: translateY(-200px) skewY(-15deg);
  }

  header {
    display: block;
    align-self: center;
    align-items: flex-start;
    margin: 3rem;
    margin-top: 8rem;
    margin-bottom: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.250);
    z-index: 1;
    background-color: white;
    width: calc(100vw - 10rem);
    max-width: 750px;
    min-width: 650px;
  }

  .header-img {
    float: left;
    width: 400px;
    margin-top: -11.75rem;
    margin-left: -2rem;
  }

  .full-name {
    top: 0.5rem;
    margin-left: 30vw;
    width: auto;
    font-size: 3.5rem;
    font-weight: 100;
  }

  section {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  section>h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  section>p {
    text-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  section>.icons {
    visibility: hidden;
  }

  .card {
    min-width: 320px;
    width: calc(40vw - 2rem);
  }

  .cards>h2 {
    grid-column: 1/-1;
    margin-bottom: -3rem;
    text-align: left;
    justify-self: start;
    margin-left: 7vw;
  }

  .cards {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-page>h1 {
    text-align: left;
    align-self: flex-start;
    margin-left: 0;
  }

  .contact-page>.icons {
    align-self: flex-start;
  }

  .footer-image {
    width: 18rem;
    margin: 2rem;
    margin-right: 0;
  }

  @media (min-width: 1025px) {
    .swipe {
      transform: translateY(-450px) skewY(-15deg);
      height: 800px;
    }

    header {
      width: calc(100vw - 5rem);
      height: 503px;
      max-width: 1200px;
      position: relative;
    }

    .header-img {
      width: 36rem;
      margin: -1.25rem;
      margin-right: 3rem;
      float: left;
    }

    header h1 {
      visibility: hidden;
    }

    picture {
      position: relative;
    }

    picture h1 {
      visibility: visible;
      width: 50rem;
      font-weight: 100;
      font-size: 5rem;
      position: absolute;
      margin-top: 12rem;
      margin-left: 0rem;
    }

    header h2 {
      margin-top: 0;
      text-align: left;
      position: relative;
      top: 1rem;
    }

    header .icons {
      visibility: visible;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}