* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: playfair;
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe {
  background-color: rgb(0, 168, 219);
  transform: translateY(-200px) skewY(-30deg);
  height: 500px;
  width: 100vw;
  position: absolute;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}

.header-img {
  z-index: 1;
  margin: 1rem;
  width: calc(320px - 2rem);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}

h1 {
  color: white;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 13.75rem;
  width: calc(300px - 2rem);
  margin: 2rem;
  align-self: left;
  font-family: playfair, serif;
  font-weight: 500;
  font-size: 4.25rem;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  width: calc(100vw - 2rem);
}

h2 {
  font-family: playfair, serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

p {
  color: rgb(85, 85, 85);
  font-family: roboto, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  line-height: 2.5rem;
}

.icons {
  display: flex;
  height: 40px;
  gap: 30px;
  margin-top: 10px;
}